/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}
body {
    line-height: 1;
}
ol,
ul {
    list-style: none;
}
blockquote,
q {
    quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
    content: "";
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

:root {
    --site-color: -webkit-linear-gradient(
        90deg,
        rgb(183, 131, 24) 0%,
        rgb(196, 149, 46) 47%,
        rgb(255, 241, 164) 73%,
        rgb(205, 148, 49) 96%
    );

    --border: linear-gradient(
            90deg,
            rgb(183, 131, 24) 0%,
            rgb(196, 149, 46) 47%,
            rgb(255, 241, 164) 73%,
            rgb(205, 148, 49) 96%
        )
        1;
}

@font-face {
    font-family: roboto;
    src: url("/fonts/Roboto-Regular.ttf");
}

/* width */
::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: linear-gradient(
        90deg,
        rgb(183, 131, 24) 0%,
        rgb(196, 149, 46) 47%,
        rgb(255, 241, 164) 73%,
        rgb(205, 148, 49) 96%
    );
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #fff;
}
.sold {
    width: 70px;
    animation-name: example;
    animation-duration: 4s;
}

.w100 {
    width: 100%;
}

.w80 {
    width: 80%;
}

.h100 {
    height: 100%;
}

.h70 {
    height: 70%;
}

.pbc {
    background-color: #0501003b;
}

.cmb {
    margin-bottom: -7px;
}

.input-style-form {
    background-color: transparent;
    max-width: 94%;
    width: 94%;
    font-size: 0.8rem;
    max-height: 40px;
    height: 40px;
    margin-top: -2px;
}

@keyframes example {
    to {
        -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
        filter: grayscale(100%);
        transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        /* -webkit-transform: rotate(360deg); */
        /* transform-origin: center; */
        -moz-transform-origin: center;
        /* -webkit-transform-origin: center; */
        transition: 4s ease all;
        -moz-transition: 4s ease all;
        /* -webkit-transition:  4s ease all; */
    }
}

.circle {
    animation-name: rotate;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes rotate {
    from {
        transform: rotate(-360deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.text-come {
    animation-name: come;
    animation-duration: 10s;
}

@keyframes come {
    to {
        transition: 4s ease all;
        -moz-transition: 4s ease all;
    }
}

.content-style {
    position: absolute;
    top: 20%;
    left: 20%;
}

.site-color {
    font-weight: bolder;
    background-image: var(--site-color);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.with-linear-gradient {
    border-style: solid;
    border-width: 1px;
    border-image: var(--site-color) 1;
}

.tbh {
    background-color: rgb(34, 34, 34);
    border: none;
}

.tb {
    background: transparent;
}

.btns {
    font-size: 18px;
    font-family: "Roboto";
    text-transform: uppercase;
    border-radius: 4px;
    background-color: rgba(5, 1, 0, 0);
    border-style: solid;
    border-width: 1px;
    border-image: var(--site-color) 1;
}

.text-color {
    color: #fbeca1 !important;
}

.text-color:hover {
    color: #fbeca1;
}

.btns:hover {
    color: #fbeca1;
    text-decoration: none;
}

.background-color-modals {
    background-color: #020202 !important;
}

.modal-border {
    border-width: 1px;
    border-style: solid;
    border-image: var(--border) !important;
}

.modal-border:hover {
    border-width: 1px;
    border-style: solid;
    border-image: var(--border);
}

.page-link {
    border-radius: 50%;
    background-color: transparent !important;
    padding: 0.25rem 0.5rem !important;
    border: 1px solid #c89b36 !important;
    font-weight: bolder;
}

.page-link:not(:disabled):not(.disabled) {
    background-color: transparent !important;
    border-radius: 50%;
    border: 1px solid #fbeca1;
    padding: 0.25rem 0.5rem;
}

.page-item:first-child .page-link {
    padding: 0.2rem 0.6rem 0.3rem !important;
    border-radius: 50% !important;
    border: 1px solid #fbeca1 !important;
}

.page-item:last-child .page-link {
    padding: 0.2rem 0.6rem 0.3rem !important;
    border-radius: 50% !important;
    border: 1px solid #fbeca1 !important;
}

.page-link:focus {
    box-shadow: none !important;
}

.page-link:hover {
    border: 1px solid #fbeca1;
}

.with-bottom-linear-gradient-to-left {
    text-align: center;
    background: linear-gradient(
            90deg,
            rgb(183, 131, 24) 0%,
            rgb(196, 149, 46) 47%,
            rgb(255, 241, 164) 73%,
            rgb(205, 148, 49) 96%
        )
        bottom no-repeat;
    background-size: 100% 1px; /* if linear-gradient, we need to resize it */
}

.option-styles {
    overflow: hidden;
}

.option-styles:before {
    content: "";
    background-image: linear-gradient(#5cb85c, transparent);
    transform: rotate(90deg);
    color: black;
    max-width: 120px;
    max-height: 40px;
}

.with-left-linear-gradient-to-bottom {
    text-align: center;
    background-size: 100% 1px;
    border-width: 0px 0px 0px 2px;
    border-style: solid;
    border-image: linear-gradient(
            90deg,
            rgb(183, 131, 24) 0%,
            rgb(196, 149, 46) 47%,
            rgb(255, 241, 164) 73%,
            rgb(205, 148, 49) 96%
        )
        1 100%;
}

.p-position {
    position: relative;
}

.label-position {
    position: absolute;
    top: 0.8rem;
    left: 0;
    z-index: 0;
}

.z-index-input {
    z-index: 10;
}

.anim {
    top: -0.8rem;
    transition: all 0.4s;
    font-size: 0.9rem;
}

.with-radius-gradient {
    position: relative;
}

.form-control:hover,
.form-control:focus {
    background-color: transparent !important;
}

.with-radius-gradient::before {
    position: absolute;
    top: -4px;
    left: -8px;
    padding: 0.6rem;
    font-size: 0.7rem;
    color: rgb(251, 236, 161);
    font-weight: 100;
    content: "";
    border-radius: 50%;
    border: 1px solid transparent;
    background: linear-gradient(
            90deg,
            rgb(183, 131, 24) 0%,
            rgb(196, 149, 46) 47%,
            rgb(255, 241, 164) 73%,
            rgb(205, 148, 49) 96%
        )
        border-box;
    -webkit-mask: linear-gradient(#fff 0 0) padding-box,
        linear-gradient(#fff 0 0);
    -webkit-mask-composite: clear;
}

.custom-font-size {
    font-size: 0.67rem;
    font-family: "Roboto";
}

.custom-logout-btn {
    all: unset;
}

.custom-back-color-card {
    background-color: #343a40 !important;
}

.swal2-title,
.swal2-html-container {
    color: #fff !important;
}

.swal2-popup {
    background-color: #3c3d41 !important;
}

.custom-btn-form-terms {
    all: unset;
    text-decoration: underline;
}

.custom-ml-1 {
    margin-left: 10px !important;
}

.custom--ml {
    margin-left: -10px;
}

.custom-overflow-y {
    overflow-y: auto !important;
}

.site-background-color {
    background-color: #1b1b1c;
}

.mt--5 {
    margin-top: -20px;
}

.select-background-color-left {
    background-color: #3c3d41 !important;
    color: white;
    min-width: 140px;
    border-radius: 5px 0 0 5px !important;
    box-shadow: unset !important;
}

.input-background-size {
    margin-top: -2px;
    height: 45px;
    min-width: 80px;
    max-width: 120px;
}

.select-background-color-right {
    background-color: #3c3d41 !important;
    color: white;
    min-width: 125px;
    border-radius: 0 5px 5px 0 !important;
    box-shadow: unset !important;
}

.custom-output-background-color-left {
    background-color: #3c3d41 !important;
    width: 70px;
    border-radius: 5px 0 0 5px !important;
    height: 46px;
}

.custom-output-background-color-center {
    background-color: #323233 !important;
    min-width: 120px;
    max-width: 140px;
    height: 45px;
    margin-top: -2px;
}

.custom-output-background-color-right {
    background-color: #3c3d41 !important;
    min-width: 125px;
    border-radius: 0 5px 5px 0 !important;
    height: 45px;
    margin-top: -2px;
}

.custom-btn-content {
    background-image: var(--site-color);
    color: black;
    margin-left: -1%;
}

.logo-content-size {
    width: 75px;
    margin: 7px 0 0 0;
}

.top-nav {
    position: absolute;
    top: 8%;
    left: 30%;
}

.logo-styles {
    position: absolute;
    left: 12%;
    top: 0%;
}

.logo-styles img {
    width: 30vw;
}

.custom-btn-style {
    all: unset;
}

.custom-background-dropdown {
    background-color: transparent;
}

.custom-dropdown-link {
    all: unset;
    font-size: 0.67rem;
    padding: 0.5rem 1rem;
    font-weight: bolder;
    background-image: var(--site-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #c78f1b !important;
}

.custom-back-signUp {
    padding: 0.5rem 1.2rem;
    border-radius: 4px;
    background-image: var(--site-color);
    color: black;
    font-weight: bolder;
}

.custom-back-signUp:hover {
    background-image: var(--site-color);
    color: black;
}

.custom-text-decoration {
    text-decoration: underline;
}

.dropdown-item:hover {
    background-color: transparent !important;
}

.custom-mr-5 {
    margin-right: 3rem !important;
}

@media (min-width: 540px) {
}

@media (min-width: 767.99px) {
    .site-background-color {
        padding: 8% 0 8% 0 !important;
    }

    .content-style {
        left: 1%;
        right: 1%;
    }

    .input-background-size {
        height: 42px;
    }
}

@media (min-width: 769px) {
    .nav {
        display: none;
    }
}

@media (min-width: 1024px) {
    .logo-styles {
        left: 12%;
        top: 3%;
    }

    .logo-styles img {
        width: 250px;
    }

    .site-background-color {
        padding: 8% !important;
    }

    .logo-content-size {
        margin: 7px 0 0 -5px;
    }

    .input-background-size {
        height: 44px;
    }
}

@media (min-width: 1050px) {
    .logo-styles {
        top: 0%;
    }

    .content-style {
        left: 15%;
        right: 15%;
    }

    .input-background-size {
        height: 45px;
    }
}

@media (max-width: 1024.99px) {
    #ts-hero .ts-background-image {
        background-position: top right !important;
    }

    .footer-reserved-text {
        bottom: 3%;
    }
}

@media (max-width: 768.99px) {
    .top-nav {
        display: none;
    }

    .custom-ml-1 {
        margin-left: 0px !important ;
    }

    .c-bg-li:hover {
        background-color: #1b1b1c;
    }

    .custom-output-background-color-left {
        height: 41px;
    }

    .custom-output-background-color-center {
        min-width: 100px;
        max-width: 110px;
        height: 41px;
    }

    .select-background-color-left {
        min-width: 110px;
    }

    .input-background-size {
        min-width: 100px;
        max-width: 100px;
        height: 41px;
    }

    .custom-btn-content {
        margin-left: -3%;
    }

    .custom-margin-logo {
        margin: 0 22px 0 -38px;
    }

    .select-background-color-right {
        min-width: 110px;
    }

    .custom--ml {
        margin-left: -5% !important;
    }

    .custom-output-background-color-right {
        height: 41px;
        min-width: 115px;
    }

    .custom--ml {
        margin-left: 0;
    }
}

@media (max-width: 540px) {
    .custom-mr-5 {
        margin-right: 1rem !important;
    }

    .custom--ml {
        margin-left: 0 !important;
    }

    .custom--ml2 {
        margin-left: -14 !important;
    }
    .mt--5 {
        margin-top: -12px;
    }

    .custom-mobile-inventory {
        display: inline !important;
    }

    .content-style {
        top: 17%;
        left: 5%;
        right: 5%;
    }

    .input-background-size {
        max-width: 140px;
        height: 38px;
    }

    .custom-margin-logo {
        margin: 0;
    }

    .custom-output-background-color-center,
    .input-background-size,
    .custom-output-background-color-left {
        height: 37px;
    }

    .custom-output-background-color-right {
        height: 36px;
    }
}

@media (max-width: 539.98px) {
    .select-background-color-left {
        min-width: 110px !important;
    }

    .input-background-size {
        max-width: 111px;
        height: 36px;
    }

    .select-background-color-right {
        min-width: 100px !important;
    }
}

@media (max-width: 360.98px) {
    .select-background-color-left {
        min-width: 90px !important;
    }

    .input-background-size {
        min-width: 100px;
        max-width: 110px;
    }

    .custom-margin-logo {
        margin: 0;
    }

    .custom-btn-content {
        margin-left: -5%;
    }

    .select-background-color-right {
        min-width: 100px !important;
    }

    .custom-output-background-color-left {
        width: 55px;
    }

    .custom-output-background-color-right {
        min-width: 110px;
    }
}

@media (max-width: 340.98px) {
    .select-background-color-left {
        min-width: 90px !important;
    }

    .custom-monile-margin-select-left {
        margin-left: 9px;
    }

    .input-background-size {
        min-width: 80px;
        max-width: 100px;
    }

    .select-background-color-right {
        min-width: 90px !important;
    }

    .custom-margin-logo {
        margin: 0;
    }

    .custom-btn-content {
        margin-left: -5%;
    }

    .custom-output-background-color-right {
        min-width: 100px !important;
    }
}
